@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  @apply text-gray-500 font-medium;
}

.tab-selected {
  @apply ui-selected:bg-primary p-3 xl:ui-selected:px-6 xl:ui-selected:py-5 ui-selected:rounded-[40px] ui-selected:text-white focus:outline-none;
}

.svg-filter-secondary {
  filter: brightness(0) saturate(100%) invert(98%) sepia(91%) saturate(805%)
    hue-rotate(7deg) brightness(92%) contrast(92%);
}
